name: Deploy

on:
  # schedule:
  #   - cron: 0 1 * * *  # daily
  push:
  workflow_dispatch:

jobs:
  list-docs:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.make-matrix.outputs.matrix }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Build docs index
        id: make-matrix
        run: |
          ./scripts/list-docs.sh -d master -m v4.3.1 -e v5.0.0-beta.1 >_temp.json
          cat _temp.json
          matrix="$(jq -c '{include: .docs}' _temp.json)"
          echo "matrix=$matrix" >>"$GITHUB_OUTPUT"

  build-docs:
    name: build-docs (${{ matrix.ref }})
    needs: list-docs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.list-docs.outputs.matrix) }}
    steps:
      - name: Cache docs
        id: cache-docs
        uses: actions/cache@v4
        with:
          path: docs/${{ matrix.ref }}
          key: ${{ matrix.rev }}

      - name: Install dependencies
        if: steps.cache-docs.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends doxygen-latex graphviz groff latex2html

      - name: Build docs
        if: steps.cache-docs.outputs.cache-hit != 'true'
        run: ./scripts/make-docs.sh ${{ matrix.rev }} docs/${{ matrix.ref }}
