name: Deploy

on:
  # schedule:
  #   - cron: 0 1 * * *  # daily
  push:
  workflow_dispatch:

jobs:
  list-docs:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.make-matrix.outputs.matrix }}
    env:
      list_docs_options: -d master -m v4.3.1 -e v5.0.0-beta.1
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Build docs index
        id: make-matrix
        run: |
          ./scripts/list-docs.sh ${{ env.list_docs_options }} >_temp.json
          cat _temp.json
          matrix="$(jq -c '{include: .docs}' _temp.json)"
          echo "matrix=$matrix" >>"$GITHUB_OUTPUT"

  build-docs:
    name: build-docs (${{ matrix.ref }})
    needs: list-docs
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ needs.list-docs.outputs.matrix }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.list-docs.outputs.matrix) }}
    steps:
      - name: Cache docs
        id: cache-docs
        uses: actions/cache@v4
        with:
          path: docs/${{ matrix.ref }}
          key: ${{ matrix.rev }}

      - name: Checkout the repository
        if: steps.cache-docs.outputs.cache-hit != 'true'
        uses: actions/checkout@v6

      - name: Install dependencies
        if: steps.cache-docs.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends doxygen-latex graphviz groff latex2html

      - name: Build docs
        if: steps.cache-docs.outputs.cache-hit != 'true'
        run: ./scripts/make-docs.sh ${{ matrix.rev }} docs/${{ matrix.ref }}

      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-${{ matrix.ref }}
          path: |
            docs/${{ matrix.ref }}
            workaround/for/upload-artifact/issues/174  # See: https://github.com/actions/upload-artifact/issues/174
          if-no-files-found: error

  collect-docs:
    needs: build-docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Download all docs artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Build docs index page
        run: |
          echo "${{ fromJSON(needs.build-docs.outputs.matrix) }}" | jq '{docs: .include}' > _temp.json
          cat _temp.json
          ./scripts/make-index.sh _temp.json docs >docs/index.md

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Build site with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: docs
          destination: _site

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    needs: collect-docs
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
