name: Update

on:
  # schedule:
  #   - cron: 0 1 * * *  # daily
  push:
  workflow_dispatch:

jobs:
  list-docs:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.make-matrix.outputs.matrix }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Build docs index
        id: make-matrix
        run: |
          ./scripts/list-docs.sh -d master -m v4.3.1 -e v5.0.0-beta.1 >_temp.json
          cat _temp.json
          matrix="$(jq -c '{include: .docs}' _temp.json)"
          echo "matrix=$matrix" >>"$GITHUB_OUTPUT"

  build-docs:
    needs: list-docs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.list-docs.outputs.matrix) }}
    steps:
      - run: |
          echo "name=${{ matrix.name }}"
          echo "ref=${{ matrix.ref }}"
          echo "rev=${{ matrix.rev }}"
          echo "url=${{ matrix.url }}"
